* {
  font: verdana;
}

h1 {
  font-weight: normal;
  font-size: 50px;
  color: white;
}

h2 {
  font-weight: 300;
  font-size: 42px;
}

.web-link {
  font-size: 16px;
  color: aquamarine;
}

div {
  text-align: center
}
